[client]
default-character-set = utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]

skip-character-set-client-handshake
character-set-server = utf8mb4

# Set the SQL mode to strict
# sql-mode="STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
max_allowed_packet=1GB
group_concat_max_len = 1024K
